.tabbed-form li
{
width: 90%;
height: auto;
background: azure;
list-style: none;
margin: 0px 0px 5px 0px;
padding: 5px 0px 5px 40px;
}

.tabbed-form button
{
float:right;
padding: 5px 40px 5px 40px;
}
	 
.black_overlay
{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}

.white_content
{
display: none;
position: absolute;
top: 25%;
left: 25%;
width: 50%;
height: 50%;
padding: 16px;
border: 1px solid lightblue;
background-color: white;
z-index:1002;
overflow: auto;
}
